/* Used to define container behavior: width, position: fixed etc... */
.Toastify__toast-container {
  width: 100% !important;
  text-align: center;
}

/* Used to define the position of the ToastContainer */
.Toastify__toast-container--top-left {
}
.Toastify__toast-container--top-center {
}
.Toastify__toast-container--top-right {
}
.Toastify__toast-container--bottom-left {
}
.Toastify__toast-container--bottom-center {
}
.Toastify__toast-container--bottom-right {
}

/* Classes for the displayed toast */
.Toastify__toast {
}
.Toastify__toast--rtl {
}
.Toastify__toast--dark {
}
.Toastify__toast--default {
}
.Toastify__toast--info {
}
.Toastify__toast--success {
  background-color: #2bff00a2 !important;
  border: 2px solid #33ff00ce;
}
.Toastify__toast--warning {
}
.Toastify__toast--error {
  background-color: #b00020 !important;
  border: 2px solid #ff2a00ce;
}
.Toastify__toast-body {
  color: #ffffff !important;
  font-weight: 700 !important;
  font-family: "iranSans" !important;

  margin: auto !important;
}

/* Classes for the close button. Better use your own closeButton */
.Toastify__close-button {
  display: none;
}
.Toastify__close-button--default {
}
.Toastify__close-button > svg {
}
.Toastify__close-button:hover,
.Toastify__close-button:focus {
}
/* Classes for the progress bar */
.Toastify__progress-bar {
}
.Toastify__progress-bar--animated {
}
.Toastify__progress-bar--controlled {
}
.Toastify__progress-bar--rtl {
}
.Toastify__progress-bar--default {
}
.Toastify__progress-bar--dark {
}
a {
  text-decoration: none !important;
  color: inherit;
}
